html {
	min-height: 100%; /* make sure it is at least as tall as the viewport */
	position: relative;
	/* background-color: black; */
}

body {
	height: 100%; /* force the BODY element to match the height of the HTML element */
	/* background-color: rgb(86, 180, 235); */
	background: linear-gradient(180deg, #D26AC2, #46C9E5); 
	margin-top: 20px;
}

.margin-top {
	margin-top: 5px;
}

.progress-div {
	background-color: rgb(233, 233, 233);
	border-radius: 0.5rem;
}

.progress {
	background-color: rgb(62, 122, 235);
	height: 10px;
	border-radius: 1rem;
	transition: 2s ease;
	transition-delay: 0.5s;
}